<%- include('partials/header') -%>

<%- include('partials/navbar') -%>
<body>   

    <!--================Fullwidth block Area =================-->

    <div class="container-fluid page-content">              
          <div class="row">
              <div class="col-md-4">
                  <div class="card cards-custom">
                    <div class="card-body">
                      <h5 class="card-title">Produtos a Caminho</h5>
                      <p class="card-text">105 produtos estão para chegar. 
                      Confira prazos, tipos e muito mais...</p>
                      <div class="row">
                        <div class="col-6">
                          <a href="#" class="btn btn-primary">Clique Aqui</a> 
                        </div>
                        <div class="col-6">
                          <img src="img/icons/minha-colecao-de-icones/png/001-rapido.png" alt="ícone de caminhão">
                        </div>                       
                      </div>                    
                                        
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card cards-custom">
                    <div class="card-body">
                      <h5 class="card-title">Giro de Estoque</h5>
                      <p class="card-text">Emita relatórios de giro de estoque,
                      pontos de pedido, estoque de segurança e outros...
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <a href="#" class="btn btn-primary">Clique Aqui</a> 
                        </div>
                        <div class="col-6">
                          <img src="img/icons/minha-colecao-de-icones/png/007-relatorio-seo.png" alt="ícone de relatório">
                        </div>                       
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card cards-custom">
                    <div class="card-body">
                      <h5 class="card-title">Painel de Controle</h5>
                      <p class="card-text">Dê entrada e saída nos produtos... Atualize 
                      seu estoque em tempo real. 
                      </p>
                      <div class="row">
                        <div class="col-6">
                          <a href="paineldecontrole" class="btn btn-primary">Clique Aqui</a> 
                        </div>
                        <div class="col-6">
                          <img src="img/icons/minha-colecao-de-icones/png/003-entrega.png" alt="ícone de entrega">
                        </div>                       
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          
          <div class="row">
            <div class="card cards-custom mb-1">
              <div class="card-header">
                <img src="img/icons/minha-colecao-de-icones/png/008-inventory.png"
                alt="ícone de lista de estoque">
                Lista de produtos
              </div>
              <div class="col-md-12 mt-3"> 
                <div class="table-custom">                
                      <table class="table table-hover table-striped table-dark">
                        <thead>
                          <th colspan="2">Estoque</th>
                          <th colspan="1">
                               <form class="form-inline">
                                   <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar Item" aria-label="Pesquisar">
                                   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                               </form>                                
                           </th> 
                           <th colspan="6">
                            <select name="classe" class="form-control col-9" onchange="location = this.value;">   
                              <% classes.forEach(classe => { %>                                
                                  <option value="/<%= classe.slug %>"> <%= classe.titulo %> </option> 
                              <% }) %>                                                                    
                          </select>
                           </th>
                       </thead>
                          <thead>
                              <tr>
                              <th scope="col">Item</th>
                              <th scope="col">Código</th>
                              <th scope="col" class="w-50">Descrição</th>
                              <th scope="col">Un. Med.</th>
                              <th scope="col">Quantidade</th>
                              <th scope="col">Valor</th>                            
                          </thead> 
                          <tbody>
                              <% items.forEach(item => { %>
                                  <tr>                            
                                  <td><%= item.id %></td>
                                  <td><%= item.codigo %></td>
                                  <td><%= item.descricao %></td>
                                  <td><%= item.medida %></td>
                                  <td><%= item.quantidade %></td>
                                  <td>R$ <%= item.valor %></td>                             
                                  </tr>    
                              <% }) %>                                                                                                                       
                          </tbody>                        
                      </table>
                    </div>   
                      <div class="row mt-3 mb-3">  
                        <div class="col-1">
                          <button type="button" class="btn btn-primary">
                            <a href="/novocodigo" target="_blank" 
                            style="text-decoration: none; color: aliceblue;">Incluir</a>
                          </button>
                        </div>
                        <div class="col">
                          <button type="button" class="btn btn-danger">Excluir</button> 
                        </div>                    
                      </div>   
                                                                  
              </div>
            </div>                
          </div> 
          <div class="row">
            <div class="col-8">
              <div class="col-md-12">
              <div class="card cards-custom">
                <div class="card-body">
                  <h5 class="card-title">Links Úteis</h5>
                  <p class="card-text">
                    <a href="https://sei.pe.gov.br/sip/login.php?sigla_orgao_sistema=GOVPE&sigla_sistema=SEI"> SEI </a> <br>
                    <a href="https://efisco.sefaz.pe.gov.br/sfi_com_sca/PRMontarMenuAcesso"> E-FISCO</a> <br>
                    <a href="https://www.peintegrado.pe.gov.br/Default.aspx"> PE INTEGRADO</a>
                  </p>                  
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-md-5">
            <div class="card cards-custom">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Anotações e Lembretes</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                </div>
              </div>
            </div>
          </div>            
          </div>
          
          <div class="col-md-4">
            <div class="card cards-custom mb-5">
              <div class="card-header">
                Solicitações de Materiais
              </div>
              
              <img class="card-img-top mt-3 mb-3" src="img/icons/minha-colecao-de-icones/png/009-pedido.png" alt="Imagem de capa do card">
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Pedido 5426: Copa</li>
                <li class="list-group-item">Pedido 590: Labotarório</li>
                <li class="list-group-item">Pedido 32: Administração</li>
              </ul>
            </div>
        </div>  
        </div>  
      </div>
    </div>
   
    
    <%- include ('partials/footer') -%> 
    
   